{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block content %}

<div class="container">
    <h2>Patients List</h2>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>

        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.name }}</td>
                <td>{{ patient.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}